.screen-header{
    padding: var(--horizontal-space);
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:42px;
    margin-bottom:15px;
    
}

.screen-header__title {
    font-size:32px;
    font-weight:600;
}

.screen-header__icons span {
    margin-left:25px;
    position:relative;
}

.header__notification {
    position:absolute;
    left:68px;
    bottom:25px;
}